.responsePanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  background-color: transparent;
}

.error {
  color: #d34444;
  font-weight: 600;
  padding: 1rem;
  border-radius: 8px;
  background-color: #1b1b1b;
}